section{
    padding: 100px 0;
}

#home{
    background: url(./images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-color: rgb(40, 40, 40);
    background-position: center;

    text-decoration-color: white;
    color: white;
    height: 100vh;
    
}
.home-header{
    font-size: 50px;
    margin-bottom: 10px;
}

.home-text{
    padding: 30px;
    font-size: 20px;
    margin-top: 10px;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav {
    background-color: grey;
    border: none !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 3);
    border-radius: 0;
    margin-bottom: 0;
}

.nav-tabs > li > a {
    color: white;
    border:none !important;
    border-radius: 0;
    font-size: 18px;
    padding: 15px 20px;
}
.nav-tabs > li > a:hover {
    background-color: lightgray;
    color: white;
    border: none !important;
    transition: 0.4s;
}

html{
    scroll-behavior: smooth;
}

#about{
    background: url(./images/about-bg.jpg) no-repeat;
    background-size: cover;
    background-color:rgb(80, 80, 80);
    background-position: center;
    color: white;

    height: 100vh;
    text-align: center;

}


.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  text-align: center;
  width: 100%;
}

.about-header {
  font-size: 50px;
  margin-bottom: 40px;
}

.textbox {
  padding: 20px;
  max-width: 600px;
  width: 80%;
  font-size: 20px;
  margin-top: 20px;
}

#projects{
    background: url(./images/projects-bg.jpg) no-repeat;
    background-size: cover;
    background-color: rgb(40, 40, 40);
    background-position: center;

    text-decoration-color: white;
    color: white;
    text-align: center;
}

.project-header{
    font-size: 50px;
    margin-bottom: 10px;
}
.section-text {
    padding: 20px;
    font-size: 18px;
}

#contact{
    background: url(./images/contact-bg.jpg) no-repeat;
    background-size: cover;
    background-color: rgb(80, 80, 80);
    background-position: center;
    color: white;
}
